/* ####################################### CONDITION ECRAN ####################################### */

.no-ecran {
    display: none !important;
}
.site-width {
    width: 1000px;
    margin: 0 auto;
}
.relative {
    position: relative;
}
body {
    font-weight: 300;
}
body #container-content {
    min-height: 450px;
    padding: 226px 0 0;
    transition: padding 0.5s 0s;
}
.hr-line-gray {
    border-bottom: 1px solid #E4E5E6;
    width: 100%;
}
/*++++++++++++++++ COMPRESSED ++++++++++++++++++*/
/* version du header et du menu compressÃƒÂ©s */

body.compressed #container-content {
    padding: 176px 0 0;
    transition: padding 0.5s 0.2s;
}
body.compressed #container-header {
    height: 166px;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    transition: all 0.5s 0s;
}
body.compressed #container-header.agence #slogan {
    margin-left: -50px;
}
body.compressed #container-header #slogan {
    display: inline-block;
    margin-left: -70px;
    border-left: 1px solid #D0D0D0;
    padding-left: 16px;
    transition: all 0.5s 0s;
}
body.compressed #container-header #logo img,
body.compressed #container-header #slogan img {
    width: 65%;
    transition: all 0.5s 0s;
}
body.compressed #container-header .site-width.force-height {
    height: 100px;
    transition: all 0.5s 0s;
}
body.compressed #container-header .container-menu.menu-principal {
    border-top: 1px solid #E4E5E6;
    border-bottom: 1px solid #E4E5E6;
    height: 50px;
    margin-top: 10px;
    width: 100%;
    position: relative;
    z-index: 10;
    transition: all 0.5s 0s;
}
body.compressed #container-header .search {
    bottom: 0px;
    left: 252px;
    transition: all 0.5s 0s;
}
body.compressed #container-header.agence #agence-header-infos {
    top: 66px;
    transition: all 0.5s 0s;
}
body.compressed #container-header.agence #agence-header-infos .zipc,
body.compressed #container-header.agence #agence-header-infos .name {
    font-size: 20px;
    height: 34px;
    line-height: 34px;
    transition: all 0.5s 0s;
}
body.compressed #container-header.agence .header-phone {
    top: 50px;
    transition: all 0.5s 0s;
}
/* ####################################### MENU TOP ####################################### */

.container-menu.menu-top {
    text-align: right;
    margin-top: 4px;
    margin-bottom: 10px;
}
.container-menu.menu-top ul,
.container-menu.menu-top ul li,
.container-menu.menu-top ul li a,
.go-national-home {
    display: inline-block;
    vertical-align: middle;
}
.container-menu.menu-top ul li + li::before {
    content: "|";
    color: #141414;
    display: inline-block;
    margin: 0 10px;
    vertical-align: middle;
}
.go-national-home::after {
    content: "|";
    color: #141414;
    display: inline-block;
    margin: 0 10px;
    vertical-align: middle;
}
/* ####################################### HEADER CONTENT ####################################### */

#container-header {
    background: #fff;
    height: 227px;
    margin: 0 auto;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    transition: all 0.5s 0s;
}
#container-header .site-width.force-height {
    height: 130px;
    transition: all 0.5s 0s;
}
#logo {
    display: inline-block;
}
#slogan {
    display: inline-block;
    margin-left: 40px;
    border-left: 1px solid #d0d0d0;
    padding-left: 16px;
    transition: all 0.5s 0s;
}
#logo img,
#slogan img {
    transition: all 0.5s 0s;
    width: 100%;
    display: block;
}
.header-phone {
    position: absolute;
    right: 0;
    top: 70px;
    transition: all 0.5s 0s;
}
.header-phone a,
.header-phone > span {
    display: inline-block;
    vertical-align: middle;
    margin-left: 6px;
}
.header-phone span img {
    display: block;
    width: 40px;
}
.header-phone a span.num-tel {
    font-size: 30px;
    color: #40a257;
    font-weight: 600;
}
.header-phone#phone-black a span.num-tel {
    color: #ed1c24;
}
.header-phone a span.info-tel {
    font-size: 12px;
    position: relative;
    top: -10px;
}
/* agence active */

.agence .container-menu.menu-top {
    margin-bottom: 0;
}
.agence #logo {
    width: 180px;
    position: relative;
    top: -10px;
}
.agence #logo img {
    width: 100%;
}
.agence #slogan {
    width: 310px;
    position: relative;
    top: -10px;
}
.agence #slogan img {
    width: 100%;
}
.agence #agence-header-infos {
    position: absolute;
    left: 0;
    top: 96px;
    transition: all 0.5s 0s;
}
.agence #agence-header-infos .name {
    background-color: #e30613;
    color: #fff;
    display: inline-block;
    font-size: 30px;
    padding: 0 10px;
    height: 54px;
    line-height: 54px;
    text-transform: uppercase;
    vertical-align: middle;
    transition: all 0.5s 0s;
}
.agence #agence-header-infos .zipc {
    background-color: #323232;
    color: #fff;
    display: inline-block;
    font-size: 30px;
    height: 54px;
    line-height: 54px;
    margin-left: 1px;
    text-align: center;
    vertical-align: middle;
    width: 54px;
    transition: all 0.5s 0s;
}
.search {
    display: inline-block;
    position: relative;
    bottom: 15px;
    left: 142px;
    transition: all 0.5s 0s;
}
.search form input {
    border: 1px solid #D0D0D0;
    border-right: 0;
    width: 120px;
    height: 28px;
    border-radius: 5px 0px 0 5px;
    background: rgba(0, 0, 0, 0);
    color: #000000;
    padding: 4px;
    font-weight: 400;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    left: 5px;
}
.search form input[type="submit"] {
    background: url('../images/pictos/search.png') no-repeat center;
    width: 36px;
    height: 38px;
    display: inline-block;
    border: 1px solid #D0D0D0;
    border-left: 0;
    border-radius: 0 5px 5px 0;
    position: relative;
    left: 0;
    cursor: pointer;
}
/* all */

.search form input::-webkit-input-placeholder {
    color: #D0D0D0;
}
.search form input::-moz-placeholder {
    color: #D0D0D0;
}
/* firefox 19+ */

.search form input:-ms-input-placeholder {
    color: #D0D0D0;
}
/* ie */

.search form input:-moz-placeholder {
    color: #D0D0D0;
}
/* ####################################### MENU PRINCIPAL ####################################### */

.container-menu.menu-principal {
    border-top: 1px solid #e4e5e6;
    border-bottom: 1px solid #e4e5e6;
    height: 50px;
    margin-top: 40px;
    width: 100%;
    position: relative;
    z-index: 10;
    transition: all 0.5s 0s;
}
.container-menu.menu-principal #container_main_menu {
    display: block !important;
}
.container-menu.menu-principal ul.menu-1 {
    border-left: 1px solid #e4e5e6;
    font-size: 16px;
    font-weight: bold;
    margin: 0 auto;
    width: 1000px;
}
.container-menu.menu-principal ul li.menu-home a {
    overflow: hidden;
    height: 50px;
    padding: 0 !important;
}
.container-menu.menu-principal ul li.menu-1-item {
    border-right: 1px solid #e4e5e6;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    position: relative;
}
.container-menu.menu-principal ul li.menu-1-item > a {
    color: #141414;
    display: block;
    line-height: 50px;
    padding: 0 12px;
}
.container-menu.menu-principal ul li.menu-1-item:hover > a,
.container-menu.menu-principal ul li.menu-1-item li:hover > a,
.container-menu.menu-principal ul li.menu-1-item li.active > a,
.container-menu.menu-principal ul li.menu-1-item.active > a {
    background: #141414;
    color: #fff;
}
.container-menu.menu-principal ul li.menu-1-item.active.menu-home {
    display: inline-block !important;
}
.container-menu.menu-principal ul li.menu-1-item.active.menu-home > a img {
    margin-top: -50px;
}
.container-menu.menu-principal ul li.menu-1-item:hover > .container-ssmenu {
    display: block !important;
}
.container-menu.menu-principal ul li.menu-1-item .container-ssmenu {
    background: #fff;
    border: 1px solid #E4E5E6;
    display: none;
    left: -1px;
    position: absolute;
    top: 50px;
    width: 300px;
    z-index: 10;
}
.container-menu.menu-principal ul li.menu-1-item .container-ssmenu li a {
    display: block;
    padding: 10px;
}
.contact-red {
    background-color: #e30613;
    border-radius: 6px;
    bottom: 14px;
    padding: 4px 14px;
    position: absolute;
    right: 0;
    z-index: 10;
}
.contact-red a {
    color: #fff;
    display: block;
    font-weight: 800;
    font-size: 12px;
    text-transform: uppercase;
}
.contact-red img {
    margin-right: 6px;
}
.contact-red a * {
    display: inline-block;
    vertical-align: middle;
}
/* ####################################### SLIDER HOME ####################################### */

#slider_home {
    height: 480px;
    overflow: hidden;
    position: relative;
    padding-bottom: 1px;
    margin-top: 1px;
    width: 100%;
    border-bottom: 1px solid #e4e5e6;
}
#slider_home #slider_home_clip {
    position: absolute;
    left: 0;
    top: 0;
}
#slider_home #slider_home_clip .slider_home_item {
    float: left;
    position: relative;
    width: 100%;
    height: 480px;
    overflow: hidden;
}
#slider_home #slider_home_clip .slider_home_item a {
    display: block;
}
#slider_home #slider_home_clip .slider_home_item img {
    position: absolute;
    left: 50%;
    margin-left: -1000px;
}
#slider_home #slider_home_clip .slider_home_item .text {
    background: #141414;
    color: #fff;
    left: 50%;
    font-weight: normal;
    line-height: 26px;
    margin-left: -500px;
    padding: 20px;
    position: absolute;
    top: 168px;
}
#slider_home #slider_home_clip .slider_home_item .text::before {
    border-style: solid;
    border-width: 60px 20px 0;
    border-color: #141414 transparent transparent transparent;
    content: '';
    position: absolute;
    height: 0;
    left: -20px;
    top: 0;
    width: 0;
    -webkit-transform: rotate(360deg);
}
#slider_home #slider_home_clip .slider_home_item .text::after {
    border-style: solid;
    border-width: 0 20px 60px;
    border-color: transparent transparent #141414 transparent;
    content: '';
    position: absolute;
    height: 0;
    left: -20px;
    bottom: 0;
    width: 0;
    -webkit-transform: rotate(360deg);
}
#slider_home .fl-l,
#slider_home .fl-r {
    display: block;
    cursor: pointer;
    height: 50px;
    margin-top: -25px;
    position: absolute;
    top: 50%;
    width: 30px;
}
#slider_home .fl-l {
    background: url(../images/pictos/fl-l-big-red.png);
    left: 30px;
}
#slider_home .fl-r {
    background: url(../images/pictos/fl-r-big-red.png);
    right: 30px;
}
/* Navigation slider home */

#slider_home .slider_nav {
    bottom: 10px;
    position: absolute;
    right: 50%;
    margin-right: -500px;
}
#slider_home .slider_nav .item_switch {
    background: #fff;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    margin-left: 6px;
    width: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
#slider_home .slider_nav .item_switch_select {
    background: #E30613;
}
/* ####################################### CARTE HOME ####################################### */

#map-container {
    background: #141414;
    border-radius: 10px;
    display: inline-block;
    padding: 10px;
    position: relative;
    top: -40px;
    width: 550px;
}
#map-container h2 {
    background: url(../images/pictos/marker-kerbea.png) no-repeat scroll left center transparent;
    color: #fff;
    font-size: 20px;
    padding-left: 50px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0 0 10px 20px;
}
#map-container .separ-dotted {
    background: url(../images/pictos/dot-white.gif) repeat-x scroll center center transparent;
    height: 2px;
    width: 480px;
    margin: 0 auto 10px;
}
#map-container .show-offer {
    color: #fff;
    font-size: 14px;
    margin-bottom: 10px;
    padding-left: 20px;
    text-transform: uppercase;
}
#map-container .show-offer a {
    display: block;
    color: #fff;
}
#map-container .show-offer span,
#map-container .show-offer img {
    display: inline-block;
    vertical-align: middle;
}
#map-container .show-offer span.and {
    font-size: 18px;
    font-weight: bold;
    margin: 0 4px;
}
#map-container .show-offer img.leaf {
    margin-right: 10px;
}
#gmap {
    width: 550px;
    height: 468px;
}
#gmap .fix_gmap {
    line-height: 1.35;
    overflow: hidden;
    white-space: nowrap;
}
/* ####################################### COL HOME ####################################### */

.col-left-home {
    float: left;
    width: 600px;
}
#description_agence.col-left-home {
    float: left;
    width: 580px;
}
.col-right-home {
    float: right;
    width: 400px;
    margin-top: 20px;
}
.col-right-home.agence {
    margin-top: 0 !important;
}
.dyna_center {
    margin: 40px 0;
    box-sizing: border-box;
}
.nb-agence {
    margin-top: 40px;
    font-size: 18px;
    text-align: center;
}
/* ####################################### PAGE ACTU ####################################### */

.fiche #container-actu {
    margin-top: 24px;
    width: 100%;
    position: relative;
    text-align: center;
}
#container-actu.list-actu .actu {
    display: inline-block;
    margin-bottom: 40px;
    position: relative;
    width: 100%;
}
#container-actu.list-actu .actu .image {
    float: left;
}
#container-actu.list-actu .actu .title {
    font-weight: bold;
}
#container-actu.list-actu .actu .title,
#container-actu.list-actu .actu .text {
    float: left;
    width: 790px;
    padding: 0 20px;
    box-sizing: border-box;
    text-align: justify;
}
.actu a.link {
    background: #E30613;
    border-radius: 10px;
    color: #FFF;
    display: block;
    padding: 4px 10px;
    position: absolute;
    bottom: 10px;
    left: 150px;
}
.btn_retour {
    background: #E30613;
    color: #fff;
    padding: 3px 8px 6px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    margin: 0 0 10px;
}
.btn_retour::before {
    content: '';
    display: inline-block;
    background: url('../images/pictos/fl-r-left.png') no-repeat;
    width: 9px;
    height: 13px;
    padding: 0 5px 0 0;
    vertical-align: -2px;
}
/* ####################################### SLIDER ACTU HOME ####################################### */

#container-actu {
    width: 400px;
    position: relative;
}
#container-actu h2 {
    font-size: 24px;
    margin-bottom: 30px;
    text-transform: uppercase;
}
#container-actu a.all-news {
    background-color: #d7d7d7;
    border-radius: 10px;
    color: #141414;
    font-size: 14px;
    padding: 4px 10px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
}
#container-actu #slider_actu #slider_actu_clip .slider_actu_item {
    border-bottom: 1px solid #cccccc;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
    height: 90px;
}
#container-actu #slider_actu #slider_actu_clip .slider_actu_item .image {
    float: left;
    margin-right: 20px;
}
#container-actu #slider_actu #slider_actu_clip .slider_actu_item .text {
    font-size: 14px;
}
#container-actu #slider_actu #slider_actu_clip .slider_actu_item a.link {
    background: #e30613;
    border-radius: 10px;
    color: #fff;
    display: block;
    position: relative;
    padding: 4px 10px;
    position: absolute;
    bottom: 20px;
    left: 150px;
}
/* ####################################### CONTACT HOME AGENCE ####################################### */

#contact-agence {
    background: url(../images/fonds/k-red.png) no-repeat scroll left center #e30613;
    border-radius: 10px;
    color: #fff;
    height: 124px;
    margin-top: 30px;
    margin-bottom: 14px;
    padding: 6px 16px 0;
    position: relative;
    width: 368px;
}
#contact-agence h2 {
    text-transform: uppercase;
    font-size: 30px;
    text-align: right;
    font-weight: 300;
}
#contact-agence h2 * {
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;
}
#contact-agence .text {
    text-align: right;
}
#contact-agence .link {
    background-color: #fff;
    border-radius: 10px;
    bottom: 16px;
    color: #ed1c24;
    display: inline-block;
    padding: 6px 20px;
    position: absolute;
    right: 16px;
}
/* ####################################### REALISATION BLOC HOME AGENCE ####################################### */

#container-realisation-link {
    border-radius: 10px;
    height: 280px;
    overflow: hidden;
    width: 400px;
}
#container-realisation-link a {
    display: block;
    position: relative;
    color: #fff;
    font-size: 22px;
    height: 100%;
}
#container-realisation-link a > img {
    display: block;
}
#container-realisation-link a span {
    background-color: #181818;
    color: #fff;
    display: block;
    position: absolute;
    padding: 10px 20px;
    bottom: 20px;
    right: 20px;
    text-transform: uppercase;
}
#container-realisation-link a span * {
    display: inline-block;
    vertical-align: middle;
}
#description_agence .zone_dyna {
    width: 100%;
}
.col-right-home .facebook_link {
    margin-top: 20px;
}
.col-right-home .facebook_link p {
    font-size: 18px;
    font-weight: 600;
    margin: 0 15px 0;
}
.col-right-home .facebook_link p,
.col-right-home .facebook_link img {
    display: inline-block;
    vertical-align: middle;
}
/* ####################################### PAGES STD ####################################### */

#container-content {
    position: relative;
}
.col-right {
    width: 200px;
    float: right;
}
.img-back-agence {
    height: 480px;
    left: 0;
    position: absolute;
    top: 1px;
    width: 100%;
    z-index: 2;
    overflow: hidden;
}
.img-back-agence img {
    width: 100%;
}
.content-hover {
    position: relative;
    padding-top: 100px;
    z-index: 3;
}
.content-hover .site-width {
    background-color: #fff;
}
.breadcrumbs {
    padding: 10px;
    text-transform: uppercase;
}
.breadcrumbs img {
    margin: 0 10px;
}
h1.black-title {
    background-color: #222222;
    color: #fff;
    display: inline-block;
    font-weight: 300;
    font-size: 26px;
    margin-bottom: 20px;
    padding: 16px 40px;
    text-transform: uppercase;
}
.social-container {
    position: absolute;
    right: 40px;
    top: 50px;
}
.social-container .social {
    display: inline-block;
    margin-left: 8px;
    vertical-align: middle;
}
.social-container .social img {
    display: block;
    width: 40px;
}
.social-container .social::-moz-focus-inner {
    border: 0;
    padding: 0;
}
/* ####################################### LISTE ####################################### */

.list {
    padding: 0 40px;
}
.list a.see-other-mode {
    color: #ed1c24;
    display: inline-block;
    text-transform: uppercase;
}
.list a.see-other-mode img {
    vertical-align: top;
    margin-left: 10px;
}
.list .list-item {
    display: inline-block;
    border-radius: 10px;
    border: 1px solid #b7b7b7;
    overflow: hidden;
    vertical-align: top;
}
.list.two .items,
.list.four .items {
    width: 940px;
    margin-left: -10px;
}
.list.two .list-item {
    height: 190px;
    margin: 0 9px 20px;
    position: relative;
    width: 448px;
}
.list.four .list-item {
    height: 380px;
    margin: 0 10px 20px;
    position: relative;
    width: 213px;
}
.list .list-item .image {
    position: relative;
}
.list.two .list-item .image {
    position: relative;
    width: 230px;
    margin-right: 24px;
    float: left;
    z-index: 3;
}
.list.two .list-item.alternate .image {
    margin-left: 24px;
    margin-right: 0 !important;
    float: right !important;
}
.list .list-item .image a,
.list .list-item .image img {
    display: block;
}
.list .list-item .type {
    background-color: #231f20;
    bottom: -20px;
    color: #fff;
    left: 50%;
    margin-left: -88px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    text-align: center;
    width: 176px;
}
.list .list-item .content {
    padding: 30px 10px;
    position: relative;
}
.list .list-item .content .text {
    font-size: 13px;
}
.list.two .list-item .content {
    padding-left: 254px;
}
.list.two .list-item.alternate .content {
    padding-left: 0 !important;
    padding-right: 254px;
}
.list .list-item .content .title {
    background: url(../images/pictos/fl-r-red.png) no-repeat scroll left center transparent;
    padding-left: 20px;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 6px;
}
.list.two .list-item.alternate .content .title {
    background: url(../images/pictos/fl-r-red.png) no-repeat scroll right center transparent;
    padding-left: 0 !important;
    padding-right: 20px;
}
.list.two .list-item .content .title {
    font-size: 26px;
}
.list.two .list-item.alternate .content .title {
    text-align: right;
}
.list.two .list-item .content .link {
    background-color: #231f20;
    color: #fff;
    display: block;
    font-size: 20px;
    line-height: 40px;
    height: 40px;
    position: absolute;
    left: 254px;
    text-align: center;
    top: 114px;
    width: 40px;
}
.list.two .list-item.alternate .content .link {
    left: auto;
    right: 254px;
}
.list.four .list-item .content .link {
    background-color: #E30613;
    border-radius: 8px;
    color: #FFF;
    display: block;
    font-size: 20px;
    line-height: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 160px;
    width: 30px;
}
.list.four .list-item .content .price {
    left: 14px;
    position: absolute;
    font-size: 12px;
    top: 165px;
}
/*++++++++++++++ HOVER ++++++++++++++*/

span.bg-black {
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
    height: 100%;
    height: 100%;
    width: 100%;
    position: absolute;
    display: inline-block;
}
.list-item:hover .image .bg-black {
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    position: absolute;
    display: inline-block;
}
.list-item:hover .image .bg-black::after {
    content: '';
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
    display: inline-block;
    background: url('../images/pictos/fl-r-big.png') no-repeat 0 0px;
    width: 92px;
    height: 92px;
    top: 55px;
    right: 75px;
    position: absolute;
}
.list-item:hover .image .bg-black.offre::after {
    top: 35px;
    right: 59px;
}
/* ####################################### FICHE OFFRE ####################################### */

.fiche {
    width: 920px;
    margin: 0 auto;
    border-top: 5px solid #ed1c24;
}
.fiche .part-left {
    width: 590px;
    float: left;
    position: relative;
}
.fiche .part-right {
    float: left;
    width: 330px;
    position: relative;
}
.fiche a.contact, a.contact {
    background: #ed1c24;
    color: #fff;
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
}
.fiche a.contact *, a.contact * {
    display: inline-block;
    vertical-align: middle;
}
.fiche .medias .contact {
    left: 0;
    position: absolute;
    top: -5px;
    width: 100%;
}
a.visite360 {
    background: #ed1c24;
    color: #fff;
    display: block;
    height: 40px;
    line-height: 40px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}
.visite360 span {
    vertical-align: middle;
}
.visite360 {
    vertical-align: middle;
    left: 0;
    top: -2px;
    width: 100%;
    position: relative;
}
.visite360 .cardboard {
    vertical-align: middle;
    margin:5px;
    float: left;
}
.visite360 .visite360picto {
  float: right;
  margin:5px;
}
.fiche .medias .part-right #galerie,
              .fiche .medias .part-right #gmap {
                  height: 295px;
                  width: 330px;
                  margin-top: 35px;
              }
.fiche .description {
    margin-top: 20px;
}
.fiche .description h3 {
    background: #231f20;
    display: inline-block;
    color: #fff;
    margin-bottom: 40px;
    padding: 10px 20px;
}
.fiche .description .price {
    float: right;
    margin: 10px 20px 0 0;
}
.fiche .description .text {
    margin-bottom: 20px;
}
.fiche .description .detail-sup {
    margin-bottom: 40px;
}
.fiche .description .relative a.contact {
    display: inline-block;
    padding: 0 20px;
}
a.brochure {
    width: 100%;
    display: inline-block;
    text-align: center;
    background: #ED1C24;
    color: #FFF;
    height: 40px;
    line-height: 40px;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 20px;
}
a.brochure:after {
    content: '';
    display: inline-block;
    background: url('../images/pictos/brochure.png') no-repeat 0 0;
    width: 18px;
    height: 18px;
    position: absolute;
    right: 50px;
    top: 11px;
}
.fiche .description .bb {
    border-bottom: 5px solid #ed1c24;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
/* ####################################### FICHE MODELE ####################################### */

.fiche .variantes {
    margin-bottom: 40px;
    cursor: pointer;
}
.fiche .variantes .variante:nth-child(2n) {
    margin-left: 70px;
}
.fiche .variantes .variante {
    display: inline-block;
    margin: 5px 0;
}
.fiche .variantes .variante span {
    color: #fff;
    display: inline-block;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
}
.fiche .variantes .variante span.chambre {
    background: #ed1c24;
    width: 120px;
    text-transform: uppercase;
}
.fiche .variantes .variante span.surface {
    background: #000000;
    width: 90px;
}
.fiche .variantes .variante span.plan {
    margin-left: 10px;
}
/*+++++++++++++++ SLIDER +++++++++++++++++++++*/

#slider_realisation {
    width: 590px;
    height: 330px;
    position: relative;
    overflow: hidden;
    margin: 0 0 5px;
    padding: 0;
}
#slider_realisation_clip {
    position: absolute;
    left: 0;
    height: 100%;
}
#slider_realisation_clip .slider_realisation_item {
    width: 590px;
    height: 330px;
    float: left;
    cursor: pointer;
    background: transparent !important;
    margin: 0;
}
#slider_realisation_clip .slider_realisation_item.video iframe {
    width: 390px;
    height: 300px;
}
#slider_realisation_clip .slider_realisation_item a {
    display: block;
}
#slider_realisation_clip .slider_realisation_item a img {
    width: 100%;
}
#container_vignette {
    display: inline-block;
    width: 100%;
    margin-top: 50px;
    padding: 0 0px 0 10px;
    box-sizing: border-box;
}
#container_vignette .vignette {
    width: 100px;
    height: 105px;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    float: left;
    margin: 0px 0;
    cursor: pointer;
}
#container_vignette div.vignette:nth-of-type(3n-1) {
    margin-left: 5px;
    margin-right: 5px;
}
/* ####################################### FOOTER ####################################### */

.container-filtre {
    font-size: 16px;
    border-top: 1px solid #d4d4d4;
    margin-top: 10px;
    padding-top: 20px;
}
.container-filtre.bdb {
    border-bottom: 1px solid #d4d4d4;
    padding-bottom: 20px;
    margin-bottom: 30px;
}
.container-filtre .title {
    display: inline-block;
    margin-right: 20px;
    text-transform: uppercase;
}
.container-filtre .filtre {
    display: inline-block;
    margin-right: 16px;
    cursor: pointer;
    text-transform: uppercase;
}
.container-filtre .filtre span.picto {
    background-color: #e5e5e5;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
    width: 14px;
    height: 14px;
    vertical-align: baseline;
}
.container-filtre .filtre.active span.picto {
    background-color: #e30613;
}
.container-filtre form {
    border-bottom: 1px solid #d4d4d4;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.container-filtre form .input {
    display: inline-block;
    margin-right: 22px;
}
.container-filtre form .input:nth-of-type(5) {
    margin-right: 0;
}
.container-filtre form input {
    font-size: 14px;
}
.container-filtre form .input input[type="text"] {
    border: 1px solid #b9b9b9;
    border-radius: 8px;
    padding: 4px 8px;
    width: 130px;
}
.container-filtre form input[type="submit"] {
    background-color: #e30613;
    border: none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    float: right;
    margin-top: 10px;
    padding: 4px;
    text-transform: uppercase;
}
.container-filtre form .raz {
    float: right;
    font-size: 12px;
    margin: 16px 10px 0 0;
    cursor: pointer;
}
/* ####################################### FOOTER ####################################### */

#container-footer {
    background-color: #2d2d2d;
    margin-top: 90px;
    min-height: 180px;
    position: relative;
    z-index: 3;
}
#container-footer #footer {
    color: #b2b2b2;
    padding-top: 20px;
}
#container-footer #footer .site-width {
    position: relative;
}
#container-footer .list-agence-title {
    font-size: 16px;
    text-transform: uppercase;
}
#container-footer .list-agence {
    padding: 20px 0;
}
#container-footer .bloc_menu {
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
}
#container-footer .menu_pied {
    display: inline-block;
}
#container-footer .menu_pied ul > li.menu-1-item {
    float: left;
    margin-right: 30px;
    pointer-events: none;
    cursor: default;
}
#container-footer .menu_pied ul > li.menu-1-item:last-child {
    margin-right: 0;
}
#container-footer .menu_pied ul li.menu-1-item > a {
    font-size: 16px;
    text-transform: uppercase;
}
#container-footer .menu_pied ul li.menu-1-item > .container-ssmenu {
    margin: 20px 0;
}
#container-footer .menu_pied ul li.menu-1-item > .container-ssmenu ul > li {
    pointer-events: initial;
    cursor: pointer;
}
/* +++++++++++++++++++++++++++++++++ infobox +++++++++++++++++++++++++++++++++ */

.infobox {
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 110;
}
.infobox .black_mask {
    background: #000;
    cursor: pointer;
    height: 100%;
    opacity: 0.7;
    position: fixed;
    width: 100%;
    z-index: 90;
}
.infobox .infobox_area {
    background: #fff;
    height: 90%;
    left: 50%;
    margin: 0 0 0 -385px;
    overflow: auto;
    position: fixed;
    top: 50px;
    width: 770px;
    z-index: 91;
}
.infobox .infobox_area.small {
    height: 430px;
    margin-left: -385px;
    width: 770px;
}
.infobox .infobox_area.big {
    height: 640px;
    margin-left: -475px;
    width: 950px;
}
.infobox .infobox_area .btn_close {
    background: url(../images/pictos/cross_white.png) no-repeat scroll center center transparent;
    cursor: pointer;
    height: 30px;
    position: absolute;
    right: 20px;
    top: 18px;
    width: 30px;
}
.infobox .infobox_area .infobox_title {
    background: #222;
    color: #fff;
    height: 70px;
    line-height: 70px;
    padding: 0 0 0 20px;
    font-size: 18px;
    text-transform: uppercase;
}
.infobox .infobox_area .infobox_content {
    padding: 20px 40px;
}
/* +++++++++++++++++++++++++++++++++ VARIANTE MODELE LIGHTBOX +++++++++++++++++++++++++++++++++ */

.infobox .infobox_area .infobox_content .plan {
    float: left;
    width: 590px;
    margin: 10px 30px 0 0;
    text-align: center;
}
.infobox .infobox_area .infobox_content .infos {
    float: left;
    width: 232px;
    margin: 10px 0 0;
}
.infobox .infobox_area .infobox_content .infos .variante_resume {
    float: none;
    margin-right: 0;
}
.infobox .infobox_area .infobox_content .infos .description {} .infobox_area .be_contact {
                                                                   position: static;
                                                                   top: auto;
                                                                   left: auto;
                                                                   right: auto;
                                                                   display: inline-block;
                                                                   color: #1CA69C;
                                                                   height: 40px;
                                                                   line-height: 40px;
                                                                   width: 100%;
                                                                   text-align: right;
                                                                   font-weight: 600;
                                                                   text-transform: uppercase;
                                                               }
.infobox_area .be_contact * {
    display: inline-block;
    vertical-align: middle;
}
.page-contact .container-info-agence {
    padding: 30px;
}
.page-contact .info-agence {
    float: left;
    width: 50%;
}
.page-contact .info-agence:first-child {
    padding-top: 30px;
}
/* simulateurs */

.container_calcul {
    text-align: center;
    padding-top: 20px;
}
.calcul {
    cursor: pointer;
    display: inline-block;
    margin: 0 10px;
}
/* Lexique */

.letters {
    padding: 10px 20px;
}
.letters span {
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
}
.letters span.active {
    font-weight: bold;
}
.lexique-list {
    padding: 10px 20px;
}
.title-lexique {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 4px;
}
.text-lexique {
    margin-bottom: 20px;
    text-align: justify;
}
/* navigation page liste offre */

.navigation-page {
    margin-bottom: 20px;
}
.navigation-page span {
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    margin-right: 10px;
}
.navigation-page span.active {
    font-weight: bold;
}
